/* Empty. Add your own CSS if you like */
.bar,
.bar.bar-stable,
.bar.bar-stable:hover {
    background-color: #420311;
}

.bar,
.bar .title,
.bar.bar-stable .title {
    color: #ffffff;
    font-weight: bold;
}

.overflow-scroll {
    /*background-color: #EEEEEE;*/
    background-image: url('../img/blood_fall_background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
    color: #000000;
}